/*
Error: Invalid CSS after "... "sectionsHome"": expected "{", was ";"
        on line 5 of scss/main.scss

1: @import "menu";
2: @import "general";
3: @import "carousel";
4: <<<<<<< HEAD
5: @import "sectionsHome";
6: @import "sectionsBrasserie";
7: @import "sectionsContact";
8: @import "sectionsBiere";
9: =======
10: @import "sections";

Backtrace:
scss/main.scss:5
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1191:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1125:in `expected'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:1120:in `tok!'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:656:in `block'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:651:in `ruleset'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/var/lib/gems/1.9.1/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/var/lib/gems/1.9.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/var/lib/gems/1.9.1/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/var/lib/gems/1.9.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `call'
/var/lib/gems/1.9.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
/var/lib/gems/1.9.1/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"... \"sectionsHome\"\": expected \"{\", was \";\"\A         on line 5 of scss/main.scss\A \A 1: @import \"menu\";\A 2: @import \"general\";\A 3: @import \"carousel\";\A 4: <<<<<<< HEAD\A 5: @import \"sectionsHome\";\A 6: @import \"sectionsBrasserie\";\A 7: @import \"sectionsContact\";\A 8: @import \"sectionsBiere\";\A 9: =======\A 10: @import \"sections\";"; }
