{%extends ":admin:index.html.twig"%}

{% block body %}
    <div class="header">
        {% if id is defined%}
            {{form_start(biere,{'attr':{'action':path('edit',{'id':id})}})}}
        {% else%}
            {{form_start(biere,{'attr':{'action':path('valid')}})}}
        {%endif%}
        {{form_rest(biere)}}
        {{form_end(biere)}}        
    </div>
{% endblock %}
