/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 sept. 2016, 16:23:40
    Author     : hugues
*/
@import "_variable.scss";

.title-biere{
    position: relative;
    background-image: url('../../images/1920391-inline.jpg');
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: #fff;
    h1{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 20px;
        margin-top: 0;
        position: relative;
    }
}

.description{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: justify;
    position: relative;
}

.name-biere{
    text-align: center;
    
}
.produits{
  overflow: auto;
    h2{
      text-align: left;
      border-bottom: 1px solid #000;
      margin-left: -50px;
      padding-bottom: 25px;
      color: #000;
  }
}

.produits.saison1{
  margin-bottom: 20px;  
}
.saison1{
  background-color: $vert; 

}
.saison2{
  background-color: $vertPale;  

}
.produits .container-fluid{
padding-left: 0;
padding-right: 0;


}


.present-biere-left{
    margin-bottom: -5px;
    display: inline-block;
    width: 40%;
    overflow: hidden;
    img{
        width: 100%;

    }

}
.present-biere-right{
     
    float: right;
    margin-bottom: -5px;
    display: inline-block;
    width: 40%;
    overflow: hidden;
    img{
        width: 100%;

    }

}
.present-txt-right{
    padding-top: 70px;
    width: 60%;
    float: right;
    display: inline-block;
    .container{
        width: 60%;
    }
    .composition{
        overflow-wrap: break-word;
        margin-left: -50px;
        padding-top: 20px;
    }
}

.present-txt-left{
     padding-top: 70px;
    width: 60%;
    display: inline-block;
    .container{
        width: 60%;
    }

}

.composition{
        overflow-wrap: break-word;
        margin-left: -50px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .degres{
       
        margin-left: -20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .ibu{
        
    }
    

.icone-hublon{
    width: 64px;
    height: 64px;
    background-image: url('../../images/icone-hublon.png');
    background-repeat: no-repeat;
    position: absolute;
    margin-left: 23%;
    margin-top: 5px;
}

.table-bordered {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 0 solid transparent;
    border-left:  0 solid transparent;
}

.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 0px solid #000;
    text-align: center;
    color: #000;
}

.table-bordered tr .separation-degres{
     border-right: 1px solid #000;
}
